.logo1 img {
  width: 6%;
  height: 6%;
}

.logo {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 2rem;
}

a {
  font-family: "Josefin Slab", serif;
  color: black;
  font-size: 3rem;
  text-decoration: none;
}
a:hover {
  color: gold;
}

h1 {
  font-family: "Josefin Slab", serif;
  font-size: 4rem;
}

h3 {
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
}
