main img {
  max-width: 20%;
  height: auto;
  display: block;
  /* border-radius: 1%; */
}
* {
  box-sizing: border-box;
  margin: 0;
}

main {
  margin-bottom: 20px;
  margin: 80px;
}

h1:hover {
  color: gold;
}

.zoom {
  transition: transform 0.9s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(0.9);
}

#section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.box1 {
  grid-column: 1/2;
}

.h1 {
  grid-column: 1/2;
}

.box2 {
  grid-column: 2/2;
}

p {
  font-size: 1.3rem;
}

/* #section2 #text_wrap {
  text-align: center;
  padding-bottom: 90%;
} */

#section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
  padding: 5%;
}
